In [1]:
import numpy as np

# Path: correlation coefficient function
def calculate_correlation(x, y):
    correlation_coefficient = np.corrcoef(x, y)[0, 1]
    
    return correlation_coefficient

list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8, 10]

corr = calculate_correlation(list1, list2)
print('Correlation Coefficient:', corr)

Correlation Coefficient: 0.9999999999999999

In [3]:
import pandas as pd

gni_df = pd.read_csv("GNI per capita.csv")
gni_df.head()

,Country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Info
0,Afghanistan,2193,1841,1739,1208,877,1244,1130,1039,967,...,1675,1625,1776,1814,1796,1783,1766,1767,1746,NaN
1,Albania,4415,3138,2857,3261,3600,4168,4594,4112,4530,...,9828,10210,10293,10669,10797,11098,11534,11831,12300,NaN
2,Algeria,9989,9457,9462,9171,8847,8904,9069,9099,9502,...,12946,12908,12910,12946,13169,13330,13832,13656,13639,NaN
3,Andorra,49062,48391,47002,44928,44747,45136,46861,51136,52922,...,43061,41402,41386,42376,44197,45260,46553,47550,48641,a
4,Angola,4139,4528,1737,1704,1304,2858,2826,3335,3269,...,5818,5796,6128,6294,6484,6440,6051,5950,5555,NaN

In [4]:
# Selecting the necessary columns
gni_df = gni_df.loc[:, ['2009', '2011', '2016']]
gni_df.head()

    2009   2011   2016
0   1498   1625   1766
1   9376  10210  11534
2  12602  12908  13832
3  45492  41402  46553
4   5863   5796   6051

###```Converting each columns to list```

In [6]:
# Year 2009
y2009 = gni_df['2009'].tolist()
solution_a = []
for item in y2009:
    try:
        solution_a.append(int(item))
    except ValueError:
        pass

y2009 = solution_a

# Year 2011
y2011 = gni_df['2011'].tolist()
solution_a = []
for item in y2011:
    try:
        solution_a.append(int(item))
    except ValueError:
        pass

y2011 = solution_a

# Year 2016
y2016 = gni_df['2016'].tolist()
solution_a = []
for item in y2016:
    try:
        solution_a.append(int(item))
    except ValueError:
        pass

y2016 = solution_a

```2009 vs 2011```

In [9]:
# 2009 vs 2011
corr = calculate_correlation(y2009, y2011)
print('Correlation Coefficient:', corr)

Correlation Coefficient: 0.9932131057403043

```2009 vs 2016```

In [7]:
# 2009 vs 2016
corr = calculate_correlation(y2009, y2016)
print('Correlation Coefficient:', corr)

Correlation Coefficient: 0.9843142809175315

```2011 vs 2016```

In [8]:
# 2011 vs 2016
corr = calculate_correlation(y2011, y2016)
print('Correlation Coefficient:', corr)

Correlation Coefficient: 0.9920994455761051